body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
  font-size: 16pt;
  background-color: #efefef; }

a, h1, h2, h3 {
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif; }

.wrapper {
  width: 100%;
  height: auto; }

.error {
  display: block;
  background-color: #ffe1e1;
  border: 1px solid #ff9696;
  padding: 5px; }

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 80%;
    margin: 0 auto; } }
header {
  background-color: #0EAFDF;
  min-height: 50px; }
  header .logo {
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 24pt;
    height: 50px; }
    header .logo span {
      color: #E98202;
      font-weight: bold; }
  header nav {
    display: block;
    overflow: hidden;
    max-height: 200px;
    height: 200px;
    -webkit-transition: max-height 0.25s linear;
    transition: max-height 0.25s linear; }
    header nav ul {
      width: 100%;
      margin: 0;
      padding: 0; }
      header nav ul li {
        height: 50px;
        list-style-type: none;
        background-color: #FFF;
        border-bottom: 1px solid #0EAFDF;
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        header nav ul li a {
          display: block;
          color: black;
          width: 100%;
          text-align: center;
          text-decoration: none;
          font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
          line-height: 50px; }
  header #menuToggle {
    display: none; }
  header #menuToggle:focus {
    outline: 0; }

.javascript-enabled nav {
  max-height: 0px; }

@media only screen and (max-width: 628px) {
  .javascript-enabled nav.open {
    max-height: 200px;
    height: 200px; }

  .javascript-enabled nav.closed {
    max-height: 0px; } }
.javascript-enabled #menuToggle {
  display: inline-block;
  background-color: transparent;
  position: absolute;
  top: -4px;
  right: 0;
  border-style: none;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  line-height: 50px; }

@media only screen and (min-width: 629px) {
  header .logo {
    width: 229px;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0; }
  header nav, header .javascript-enabled nav {
    margin: 0;
    padding: 0;
    height: 50px;
    max-height: 50px;
    display: inline-block;
    overflow: visible;
    float: right; }
    header nav ul, header .javascript-enabled nav ul {
      margin: 0;
      padding: 0;
      width: auto;
      height: 50px;
      display: block;
      float: right; }
      header nav ul li, header .javascript-enabled nav ul li {
        float: left;
        display: inline-block;
        width: auto;
        background-color: transparent;
        border: none;
        padding: 0 10px; }
        header nav ul li a, header .javascript-enabled nav ul li a {
          float: left;
          height: 50px;
          color: #FFF; }

  .javascript-enabled #menuToggle {
    display: none; } }
.item {
  background-color: #FFF;
  border-top: 1px solid #ADADAD;
  border-bottom: 1px solid #ADADAD;
  margin: 20px 0;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .item h1 {
    text-align: center; }
  .item section h1 {
    text-align: left; }

#announcements {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffb;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0; }
  #announcements hr {
    border: 0;
    border-top: 1px solid #ff0;
    margin: 10px 20px; }
  #announcements h1, #announcements p {
    margin: 0 20px;
    padding: 0; }

@media only screen and (min-width: 650px) {
  .item {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border-left: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
    width: 40%;
    margin: 20px 0; }

  #announcements {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    margin: 20px 0px;
    padding: 0;
    border-left: none;
    border-right: none; }

  #pers_tasks {
    width: 50%; }

  #pers_appointments {
    float: right; } }
@media only screen and (min-width: 1024px) {
  #announcements {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border-left: 1px solid #ff0;
    border-right: 1px solid #ff0; } }
#pers_appointments h1 p {
  margin: 0; }

#login {
  margin: 20px 0;
  width: 100%;
  height: auto;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background-color: #FFF;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #login input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 14pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #login input[type=submit] {
    background-color: #FFF;
    outline: 0;
    border: 1px solid #E98202; }

@media only screen and (min-width: 650px) {
  #login {
    width: 60%;
    margin: 20px auto;
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad; } }

/*# sourceMappingURL=style.css.map */
